body{
    margin: 0px;
}

nav{
    position: fixed;
    width: 20vw;
    height: 100vh;
    background-color: snow;
    border-right: 2px solid black;
    box-sizing: border-box;
}

#contenuMain{
    position: fixed;
    right: 0px;
    width: 80vw;
    height: 100vh;
    padding: 50px;
    box-sizing: border-box;
    overflow: auto;
}

nav a{
    text-decoration: none;
    color: black;
}

nav li{
    margin-bottom: 10px;
}